 @import url('http://fonts.cdnfonts.com/css/nexa-bold');
@import url(//db.onlinewebfonts.com/c/f4c9951744c0ef14010218fc1b2f7938?family=Larsseit);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nexa', sans-serif;
}
.upperbar{
    height: 76px;
    display: flex;
    background-color: black;
}
.upperbar ul{
    position: absolute;
    right: 385px;
    top: 11px;
    display: flex;
    list-style: none;
}
.upperbar ul li{
    font-family: "Larsseit";
    color: #FFFFFF;
    padding: 18px;
}
.upperbar ul li a{
    font-family: "Larsseit";
    color: white;
    text-decoration: none;
    padding: 0px 18px;
}
.upperbar span{
    display: flex;
    position: absolute;
    left: 150px;
    top: 22px;
}
.upperbar span p{
    /* font-family: "Larsseit"; */
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 8px;
}
#loginbutton{
    font-size: 18px;
    font-family: "Larsseit";
    color: white;
    background-color: transparent;
    border: 1px solid #19D2A6;
    width: 85px;
    height: 38px;

    position: absolute;
    right: 285px;
    top: 20px;
}
#loginbutton a{
    font-size: 18px;
    font-family: "Larsseit";
    color: white;
    text-decoration: none;
}
#registerbutton{
    background-color: #19D2A6;
    height: 38px;
    width: 110px;
    padding: 10px,20px;

    position: absolute;
    top: 20px;
    right: 156px;
    border: 0.8px solid #19D2A6;
}
#registerbutton a{
    font-size: 18px;
    font-family: "Larsseit";
    color: black;
    text-decoration: none;
}
.main{
    background-color: black;
    position: relative;
}
.div1{
    background-color: black;
    position: absolute;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 45px;
}
.div2{
    display: flex;
}
.left{
    color: white;
}
.right{
    padding-top: 70px;
    padding-left: 265px;
}
.left h3{
    font-size: 20.8912px;
}
.left p{
    font-family: "Larsseit";
    color: rgb(180, 177, 177);
}
.first{
    border-bottom: 3px solid white;
}
.second{
    border-bottom: 3px solid #19D2A6;
}
.left h1{
    font-size: 64px;
    padding-top: 60px;
}
.left p{
    font-weight: 300;
    font-size: 20px;
    padding-top: 20px;
}
#registerforsppbutton{
    font-family: "Larsseit";
    color: black;
    background-color: #19D2A6;
    width: 250px;
    height: 51.78px;
    padding: 10px,20px;
    border: 0.8px solid #19D2A6;
    padding: 10px 16px;

    font-weight: 500;
    font-size: 23.0585px;
}
#registerforsppbutton a{
    font-size: 24px;
    font-family: "Larsseit";
    color: black;
    text-decoration: none;
}
.div3{
    padding-top: 60px;
    display: flex;
}
.left1{
    display: flex;
    position: absolute;
    right: 156px;
    padding-top: 10px;
}
.socialmedia{
    font-size: 20px;
    padding-right: 18px;
    padding-left: 18px;
    color: white;
}
.rectangle{
    padding-top: 0px;
}
.div4{
    position: absolute;
    right: 50%;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}
.div5{
    padding-top: 175px;
    color: white;
    font-size: 22px;
}
.div6{
    background-color: black;
}
.firstrow{
    padding-top: 100px;
    display: flex;
}
.secondrow{
    display: flex;
}
.square{
    background-color: #111B1E;
    width: 290px;
    height: 250px;
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
}
.square p{
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Larsseit";
}
#pr{
    margin-right: 172px;
    margin-bottom: 60px
}
#internship{
    margin-bottom: 60px;
}
#workshop{
    margin-left: 172px;
    margin-bottom: 60px;
}
#letter{
    margin-right: 172px;
    margin-top: 60px;
}
#network{
    margin-top: 60px;
}
#shoutout{
    margin-left: 172px;
    margin-top: 60px;
}
#tnc{
    padding-top: 100px;
    font-size: 15px;
}
.steps{
    display: flex;
    color: black;
    background-color: white;
    position: absolute;
    left: 150px;
    right: 156px;
    top: 1880px;
}
.stepshead{
    font-size: 40px;
    padding-bottom: 50px;
}
.first2{
    border-bottom: 3px solid black;
}
.second2{
    border-bottom: 3px solid #19D2A6;
}
.div7{
    font-size: 24px;
    border-left: 4px solid #19D2A6;
    margin-bottom: 30px;
    padding-left: 5px;
}
.border{
    font-size: 30px;
    border: 2px solid #19D2A6;
    padding-left: 6px;
    padding-right: 6px;
}
.stepsimg{
    padding-left: 300px;
    padding-top: 70px;
    padding-bottom: 80px;
}